.page-links > * {
  transition: 0.4s;
}

.page-links:hover > .link {
  opacity: 0.3;
}
.page-links:hover > .link:hover {
  opacity: 1;
}

.link {
  padding: 0 5px;
}

.active {
  border-bottom: 1px solid #000000a0;
}
